
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-4">
                <div class="form-group">
                    <input type="text" class="form-control" #todoItem placeholder="Enter Todo Data">
                </div>
                <div class="text-right">
                    <button *ngIf="!isInEditMode"  mat-raised-button color="primary" class="btn btn-block">Add Todo</button>
                    <button  *ngIf="isInEditMode" (click)="onUpdate()"  mat-raised-button color="primary" class="btn btn-block">Update Todo</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-2">
            <ul class="list-group">
                <li *ngFor="let todo of todoData"
                class="list-group-item d-flex justify-content-between">
                <strong>{{todo.title}}</strong>
                <div>
                    <button mat-mini-fab color="primary" class="mr-4"><mat-icon>edit</mat-icon></button>
                    <button 
                    (click)="onTodoRemove('todo.id')"
                    mat-mini-fab color="warn" ><mat-icon>delete</mat-icon></button>
                </div>
                </li>
                
            </ul>
            
        </div>

    </div>
</div>
0